{% extends 'base3.html' %}

{% block title %}
        天天生鲜-商品详情
    {% endblock title%}
 {% block script %}
    <script type="text/javascript">
    $(function () {

       $('.num_add').delegate('a','click',function () {
           var numb = $('.num_show').val();
           var key = $(this).attr('name');
           var id =  $('.num_show').attr('name');

           $.get('/info'+key+'_'+numb+'_'+id+'/',function (data) {

               $('.num_show').prop('value',data.data.numb);
                $('.num_show').val(data.data.numb);
               $('.total em').empty().append(data.data.price+'元');

       })


       });

         $('.num_show').blur(function () {
           var numb = $('.num_show').val();
           if(isNaN(numb )){
               alert('请输入一个数字');
               numb = 1;
           }
           var key = $(this).attr('name');
           var id =  $('.num_show').attr('name');
           $.get('/info3'+'_'+numb+'_'+id+'/',function (data) {
               $('.num_show').empty().val(data.data.numb);
               $('.total em').empty().append(data.data.price+'元');

         });

            });
    });

	</script>
 {% endblock script%}
{% block body %}
	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
				<li><a href="/list1_1_1/" class="fruit">新鲜水果</a></li>
					<li><a href="/list2_1_1/" class="seafood">海鲜水产</a></li>
					<li><a href="/list3_1_1/" class="meet">猪牛羊肉</a></li>
					<li><a href="/list4_1_1/" class="egg">禽类蛋品</a></li>
					<li><a href="/list5_1_1/" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="/list6_1_1/" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="/list7_1_1">全部分类</a>
		<span>></span>
		 {% if type.id == 7 %}
		        <a href="/list{{ type.id}}_1_1"></a>
                {% else %}
                <a href="/list{{ type.id}}_1_1">{{ type.ttitle }}</a>
            {% endif %}
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl" ><img src="/static/{{ goods.gpic }}"></div>

		<div class="goods_detail_list fr">
			<h3>{{ goods.gtitle }}</h3>
			<p>草莓浆果柔软多汁，味美爽口，适合速冻保鲜贮藏。草莓速冻后，可以保持原有的色、香、味，既便于贮藏，又便于外销。</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ goods.gprice }}</em></span>
				<span class="show_unit">{{ goods.gunit }}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">{{ goods.gkucun}}</div>
				<div class="num_add fl">
					<input  name="{{ goods.id }}" type="text" class="num_show fl" value="1">
					<a href="#" name="1" class="add fr">+</a>
					<a href="#" name='0' class="minus fr">-</a>
				</div> 
			</div>
			<div class="total">总价：<em>{{ price }}元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="#" class="add_cart" id="add_cart">加入购物车</a>
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					  {% for goods in new %}
					<li>
						<a href="/detail{{ goods.id }}/"><img src="/static/{{ goods.gpic }}"></a>
						<h4><a href="/detail{{ goods.id }}/">{{ goods.gtitle }}</a></h4>
						<div class="prize">{{ goods.gprice }}</div>
					</li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>草莓采摘园位于北京大兴区 庞各庄镇四各庄村 ，每年1月-6月面向北京以及周围城市提供新鲜草莓采摘和精品礼盒装草莓，草莓品种多样丰富，个大香甜。所有草莓均严格按照有机标准培育，不使用任何化肥和农药。草莓在采摘期间免洗可以直接食用。欢迎喜欢草莓的市民前来采摘，也欢迎各大单位选购精品有机草莓礼盒，有机草莓礼盒是亲朋馈赠、福利送礼的最佳选择。 </dd>
				</dl>
			</div>

		</div>
	</div>
{% endblock body %}
{% block bottom %}



{% endblock bottom %}
