{% extends 'base3.html' %}

{% block title %}
        天天生鲜-商品列表
    {% endblock title%}
 {% block script %}
     <script>
        $(function () {
         $('.add_goods').click(function () {
           var uname = $('.login_info em').html();
           var gid = $(this).prop('name');

           $.get('/json/?n='+uname+'&id='+gid,function (data) {
                    $('.goods_count').val(data.data)
               alert( $('.goods_count').val())
           })
         })
     })






     </script>


    {% endblock script%}
{% block body %}


	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="/list1_1_1/" class="fruit">新鲜水果</a></li>
					<li><a href="/list2_1_1/" class="seafood">海鲜水产</a></li>
					<li><a href="/list3_1_1/" class="meet">猪牛羊肉</a></li>
					<li><a href="/list4_1_1/" class="egg">禽类蛋品</a></li>
					<li><a href="/list5_1_1/" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="/list6_1_1/" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="/list7_1_1">全部分类</a>
		<span>>
            {% if type.id == 7 %}
		        <a href="/list{{ type.id}}_1_1"></a>
                {% else %}
                <a href="/list{{ type.id}}_1_1">{{ type.ttitle }}</a>
            {% endif %}
        </span>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for goods in new %}
					<li>
						<a href="/detail{{ goods.id }}/"><img src="/static/{{ goods.gpic }}"></a>
						<h4><a href="/detail{{ goods.id }}/">{{ goods.gtitle }}</a></h4>
						<div class="prize">{{ goods.gprice }}</div>
					</li>
                    {% endfor %}

				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="/list{{ type.id}}_1_1" {% if sort == '1' %} class="active" {% endif %}>默认</a>
				<a href="/list{{ type.id}}_1_2" {% if sort == '2' %} class="active" {% endif %}>价格</a>
				<a href="/list{{ type.id}}_1_3" {% if sort == '3' %} class="active" {% endif %}>人气</a>
			</div>

			<ul class="goods_type_list clearfix">
                {% for goods in page %}
                    <li>
                        <a href="/detail{{ goods.id }}/"><img src="/static/{{ goods.gpic }}"></a>
                        <h4><a href="detail.html">{{ goods.gtitle }}</a></h4>
                        <div class="operate">
                            <span class="prize">{{ goods.gprice }}</span>
                            <span class="unit">{{ goods.gunit }}</span>
                            <a href="#" class="add_goods" name="{{ goods.id }}" title="加入购物车"></a>
                        </div>
                    </li>
                {% endfor %}
			</ul>

			<div class="pagenation">
                {% if page.has_previous %}
				<a class='pageup' href="/list{{ type.id}}_{{ page.previous_page_number }}_{{ sort }}/">上一页</a>
                {% endif %}

                {% for pindex in paginator.page_range  %}
                    {% if pindex == page.number %}
                        <a href="#" class="active">{{ pindex }}</a>
                        {% else %}
				    <a href="/list{{ type.id}}_{{ pindex }}_{{ sort }}/">{{ pindex }}</a>
                    {% endif %}
                {% endfor %}
                {% if page.has_next %}
				<a class='pagedown' href="/list{{ type.id}}_{{ page.next_page_number }}_{{ sort }}/">下一页></a>
                {% endif %}
			</div>
		</div>
	</div>
{% endblock body %}
